h2 {
    color: #0D3B66;
    font-weight: bold;

    margin-bottom: 20px;
}

.card-filter{
    color: #0D3B66;
    max-width: 318px;
    border-left: 1px #555555 solid ;
    padding: 15px;
}

.first-card{
    border-left: 0px;
}

.card-desc{
    color:#5B4F4F
}

.container-filter{
    background-color: #D9D9D9;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 10px;
}

.btn-filter{
    background-color: #F95738;
    color: #FFFFFF;
    border-radius: 8px;
    width: 170px;
    height: 90px;
    border: 0px;
    box-shadow: 5px 10px 20px #00000086;
}

.cards-container{
    background-color: #FFFFFF;
    box-shadow: 5px 10px 20px #00000086;
    border-radius: 8px;
}

.card-body-filter{
    padding: 10px 5px;
    min-height: 90px;
    min-width: 200px;
}

.card-options {
    position: absolute;
}