header {
  padding: 10px 20px;
}

.link-routes,
a {
  font-size: 1.3em;
  color: #0d3b66;
}

.text-color {
  color: #0d3b66;
}

.select-cede {
  border-radius: 5px;
  background-color: #0d3b66;
  padding: 5px 20px;
  color: #f4d35e;
  font-size: 1.3em;
}

.select-cede option {
  font-size: 1em;
  color: #f4d35e;
}
